<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALAXY CLASSIFICATION{%block head%}{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
    <center><h4 style="color: aliceblue;font-size: 3em;">GALAXY MORPHOLOGICAL CLASSIFICATION</h4></center>
    {%block body%}{%endblock%}
</body>
</html>